.form__button {
    background-color: #ff8c66;
    height: 50px;
    border: 2px solid #474747;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    transition: 1s;
}

.form__button:hover {
    background-color: #fe774a;
    transform: scale(1.05);
}

.form__button:active {
    background-color: #ff602b;
}

.form__inputField {
    max-width: 300px;
    width: 100%;
    border-style: solid;
    background-color: #feb69e;
    border-radius: 10px;
    padding: 5px;
}

.form__inputField:hover {
    background-color: #fda487;
}

.form__label {
    padding-right: 15px;
}

.form__select {
    max-width: 300px;
    width: 100%;
    border-style: solid;
    background-color: #feb69e;
    border-radius: 10px;
    padding: 5px;
}

.form__select:hover {
    background-color: #fda487;
}
