.button {
    background-color: #ff8c66;
    height: 50px;
    border: 2px solid #474747;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    transition: 1s;
}

.button:hover {
    background-color: #fe774a;
    transform: scale(1.05);
}

.button:active {
    background-color: #ff602b;
}
